.naveg {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  background-color: rgb(229, 243, 37);
  color: rgb(8, 0, 0);
  /* display: block; */
  padding: 0;
  margin: 0;
  height: 100px;
}

.superior {
  margin: 12 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 45px;
  transform: translateX(45px);
  padding-top: 5px;
}

.buscador {
  width: 400px;
  padding: 4px 12px;
  border-radius: 3px;
  margin-top: 3px;
  margin-left: 150px;
  transform: translateX(-350px);
  border: 1px solid black;
}

input::placeholder {
  background-color: rgb(255, 255, 255);
  color: #110404;
  opacity: 1;
  padding: 20px 12px;
}

.lista {
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listText {
  padding-top: 20px;
}

.carrito {
  width: 25px;
  height: 25px;
  padding-top: 18px;
}

.cantidad {
  margin-left: 5px;
  color: tomato;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
}

.botonCategorias {
  background-color: transparent;
  color: rgb(8, 0, 0);
  border: none;
  padding: 2px 15px 10px 15px;
  border: none;
  cursor: pointer;
}

.botonCategorias:hover {
  background-color: rgb(229, 243, 37);
  border: 1px solid rgb(8, 0, 0);
  color: rgb(8, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrito {
  /* Estilos para todo el enlace del carrito */
  font-size: 1.2em;
  color: #333;
  text-decoration: none;
  display: flex; /* Ayuda a alinear el ícono y el texto */
  align-items: center;
  gap: 5px; /* Espacio entre el ícono y el texto */
}

.contadorItems {
  /* Estilos específicos para el número de ítems del carrito */
  background-color: orange;
  color: rgb(7, 6, 6);
  border-radius: 50%; /* Lo hace un círculo */
  padding: 2px 7px;
  font-size: 0.8em; /* Un poco más pequeño que el texto padre */
  font-weight: bold;
  display: inline-block; /* Esencial para que el padding y el círculo funcionen */
  min-width: 20px; /* Asegura un tamaño mínimo para un solo dígito */
  text-align: center;
  border: 1px solid black
}