#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
  overflow-x: hidden;
}


.logo {
 display: block;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  margin-left: calc(-50vw + 50%);
  box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.15);
}

.padel {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.ultima-visita {
  padding-top: 30px;
}
.volver-inicio {
  margin: 20px auto;
  margin-bottom: 45px;
  padding: 10px 20px;
  background-color: #6e6b6b;
  color: #312626;
  border: 2px solid #1b0707;
}
.resultados-busqueda {
  margin: 20px auto;  
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

